future
imageio
matplotlib
mistune
nbconvert
numpy
opencv-contrib-python
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
requests
scipy
Send2Trash
six
soupsieve
tensorboardX
terminado
testpath
tqdm
scikit-image
pytorch-lightning==1.4.0
fvcore
pytorch-lightning-bolts==0.3.2
wandb
gym
sklearn
kornia==0.5.5
hydra-core
hydra-colorlog
tfrecord
git+https://github.com/S-aiueo32/lpips-pytorch.git
mlflow
omegaconf
pysen
scikit-build
cmake
pyyaml
pandas
h5py
optuna
wandb